@model List<LojaLanche.ViewModel.ProdutoViewModel>

<h2>Lista de Produtos</h2>

<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Preço</th>
            <td>Tipo</td>
            <td>Preco</td>

        </tr>
    </thead>
    <tbody>
        @foreach (var produto in Model)
        {
            <tr>
                <td>@produto.Nome</td>
                <td>@produto.Descricao</td>
                <td>@produto.Tipo</td>
                <td>@produto.Preco</td>

            </tr>
        }
    </tbody>
</table>
